body {
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  background-color: rgb(218, 200, 200);
  min-width: 300px;
  width: 350px;
  height: 500px;
  padding: 16px;
  gap: 12px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
}

.display {
  text-align: end;
  height: 20%;
  font-size: 54px;
  /* border-radius: 6px; */
}

.display-buttons {
  height: 10%;
  gap: 12px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.numbers-and-operations {
  height: 70%;
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(4, 22.5%);
  grid-template-rows: repeat(4, 22.5%);
}

/* .equal {
  grid-column-start: 2;
  grid-row-start: 3;
  grid-row-end: span 2;
} */

button {
  display: inline-block;
  border: none;
  text-decoration: none;
}

.display-btn {
  width: 50%;
  height: 100%;
  border-radius: 6px;
  font-size: 1em;
}

.btn {
  border-radius: 100%;
}

.selected {
  background-color: rgb(165, 165, 165);
}