body {
  background-color: #9A7D86;
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  background-color: #715760;
  min-width: 300px;
  width: 350px;
  height: 500px;
  padding: 16px;
  gap: 12px;
  border-radius: 18px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
}

.display {
  text-align: end;
  height: 20%;
  font-size: 54px;
  border: 2px solid black;
  border-radius: 6px;
  padding-right: 12px;
  word-wrap: break-word;
  word-break: break-all;
}

.display-buttons {
  height: 10%;
  gap: 12px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.numbers-and-operations {
  height: 70%;
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(4, 22.5%);
  grid-template-rows: repeat(4, 22.5%);
}

/* .equal {
  grid-column-start: 2;
  grid-row-start: 3;
  grid-row-end: span 2;
} */

button {
  display: inline-block;
  border: none;
  text-decoration: none;
}

.display-btn {
  width: 50%;
  height: 100%;
  border-radius: 6px;
  font-size: 1em;
}

.btn {
  border-radius: 100%;
  /* box-shadow: 5px 10px ; */
}

.selected {
  background-color: rgb(165, 165, 165);
}