body {
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  background-color: rgb(218, 200, 200);
  width: 400px;
  height: 500px;
  padding: 24px;
  gap: 12px;
  display: flex;
  flex-direction: column;
}

.display {
  background-color: rgb(140, 140, 255);
  width: 100%;
  height: 20%;
}

.display-options {
  background-color: rgb(140, 140, 255);
  width: 100%;
  height: 10%;
}